.Projects {
  width: 100.7%;
  background-color: black;
  background-image: linear-gradient(90deg, #000000, #797575);
  background-size: 100%;
}

.Projects-H1 {
  text-align: center;
  font-size: 350%;
margin: 0%;
padding-top: 5%;
padding-left: 5%;
background-image: linear-gradient(45deg, #f3ec78, #af4261);
background-size: 100%;
background-repeat: repeat;
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent; 
-moz-background-clip: text;
-moz-text-fill-color: transparent;
}

.Projects-P {
    font-size: 150%;
    margin-left: 3%;
    color: white;
    text-align: center;
}

.Projects-IMG {
  width: 65%;
  margin-left: 20%;
}

.Left-Arrow {
  position: absolute;
  top: 45%;
  left: 20%;
  font-size: 375%;
  color: black;
  z-index: 2;
  cursor: pointer;
}

.Right-Arrow {
  position: absolute;
  top: 45%;
  right: 15%;
  font-size: 375%;
  color: black;
  z-index: 2;
  cursor: pointer;
}

.Proyecto-Slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.Proyecto-Slide-Active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

.Project-NoVisit {
  visibility: hidden;
}

.Project-Repo {
  color: yellow;
  border: green 5px solid;
  margin-left: 20%;
  background-color: black;
  background-image: linear-gradient(90deg, #000000, #797575);
  filter: grayscale(150%);
  position: absolute;
  top: 85%;
  left: 5%;
  font-size: 150%;
}

.Project-Visit {
  color: yellow;
  border: green 5px solid;
  margin-left: 20%;
  background-color: black;
  background-image: linear-gradient(90deg, #000000, #797575);
  filter: grayscale(150%);
  position: absolute;
  top: 85%;
  right: 17%;
  font-size: 150%;
}
