.About-First-Div {
    width: 100.7%;
    background-color: black;
background-image: linear-gradient(90deg, #000000, #797575);
background-size: 100%;
margin: 0%;
}

.About-H1 {
    text-align: center;
    font-size: 350%;
  margin: 0%;
  padding-top: 5%;
  padding-left: 5%;
background-image: linear-gradient(45deg, #f3ec78, #af4261);
background-size: 100%;
background-repeat: repeat;
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent; 
-moz-background-clip: text;
-moz-text-fill-color: transparent;
}

.About-P {
    font-size: 150%;
    margin-left: 3%;
    color: white;
    text-align: center;
}

.About-A {
    font-size: 125%;
  color: yellow;
  padding: 1.5%;
  border: green 5px solid;
  background-image: linear-gradient(90deg, #000000, #797575);
  filter: grayscale(150%);
}

.About-A:hover {
    cursor: pointer;
    background-image: linear-gradient(50deg, #fff200, #fff200);
    color: blue;
    box-shadow: -3px 3px 25px grey;
  }

.About-Last-Div {
    padding-bottom: 5%;
    margin-top: 4%;
    margin-left: 45%;
}